---
import GymWorkout from '@/components/icons/GymWorkout.astro';
import TrainingGym from '@/components/icons/TrainingGym.astro';
import Pool from '@/components/icons/Pool.astro';
import PadelCourt from '@/components/icons/PadelCourt.astro';

const features = [
  {
    title: 'Activitats dirigides al mes',
    description:
      'Más de 25.000 actividades dirigidas al mes para todos los niveles.',
    icon: TrainingGym,
  },
  {
    title: 'Tu gimnasio muy cerca de ti',
    description: 'Contamos con más 20 clubs en Barcelona y alrededores.',
    icon: GymWorkout,
  },
  {
    title: 'Piscines i espais termolúdics',
    description:
      'Disponemos de piscinas y espacios termolúdicos para tu relax y bienestar.',
    icon: Pool,
  },
  {
    title: 'Pistas de pàdel indoor i outdoor',
    description: 'Disfruta de nuestras pistas de pádel de última generación.',
    icon: PadelCourt,
  },
];
---

<section class="py-24 bg-gray-50 dark:bg-neutral-900">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <h2 class="text-4xl font-bold text-gray-900 dark:text-white mb-4">
        La experiencia <span class="text-[#0075c9]">DiR</span>
      </h2>
      <p class="text-xl text-gray-600 dark:text-white">
        Experimenta la excelencia del fitness con nosotros y alcanza tus metas
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {
        features.map((feature, index) => (
          <div
            class="bg-white dark:bg-neutral-800 p-8 rounded-lg shadow-lg"
            data-aos="fade-up"
            data-aos-delay={index * 100}
          >
            <div class="text-4xl mb-4">
              <feature.icon class="size-12" />
            </div>
            <h3 class="text-xl font-semibold mb-2 dark:text-white">
              {feature.title}
            </h3>
            <p class="text-gray-600 dark:text-white">{feature.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
