<section class="flex justify-center space-x-16 py-8 bg-white backdrop-blur-sm">
  <div class="text-center text-black">
    <p class="text-4xl font-bold">25.000</p>
    <p class="text-sm mt-1">Activitats dirigides al mes</p>
  </div>
  <div class="text-center text-wblackhite">
    <p class="text-4xl font-bold">20</p>
    <p class="text-sm mt-1">Clubs</p>
  </div>
  <div class="text-center text-black">
    <p class="text-4xl font-bold">13</p>
    <p class="text-sm mt-1">Piscines i espais termolúdics</p>
  </div>
  <div class="text-center text-black">
    <p class="text-4xl font-bold">36</p>
    <p class="text-sm mt-1">Pistes de pàdel</p>
  </div>
</section>
